{
  "extends": ["react-app", "prettier"],
  "rules": {
    "jsx-quotes": [1],
    "no-console": 2,
    "no-debugger": 2,
    "react-hooks/rules-of-hooks": "error",
    "jsx-a11y/anchor-has-content": [ 2, {
      "components": [ "Anchor" ]
    }]
  },
  "plugins": ["prettier", "react-hooks"]
}
